<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Gestión de historias</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${stories}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">El Juego no tiene Historias asociadas!</h2>
				<div th:case="*">
					<h2 class="my-5">Lista de Historias del Juego</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Id</th>
								<th>Descripción</th>
								<th>Valor de Negocio</th>
								<th>Sprint Inicial</th>
								<th>Prioridad</th>
								<th>Juego Asociado</th>
								<th>Editar</th>
								<th>Borrar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="story : ${stories}">
								<td class="text-info" th:text="${story.id}"></td>
								<td class="text-info" th:text="${story.description}"></td>
								<td class="text-info" th:text="${story.businessValue}"></td>
								<td class="text-info" th:text="${story.initialSprint}"></td>
								<td class="text-info" th:text="${story.priority}"></td>
								<td class="text-info" th:text="${story.tsscGame.name}"></td>
								<td><a th:href="@{/story/edit/{id}(id=${story.id})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
								<td><a th:href="@{/story/del/{id}(id=${story.id})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		<a th:href="@{/game/}"> Regresar a <i class="fas fa-home ml-2"></i></a>
	</div>
</body>
</html>