<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Update User</h2>
		<div class="row">
			<div class="col-md-5">
				<form action="#" th:object="${user}"
					th:action="@{/users/edit/{id}(id=${user.id})}" method="post">
					<div class="row">

						<div class="form-group col-md-6">
							<label for="id" class="col-form-label">Id</label> <input
								type="text" th:field="*{id}" class="form-control" id="id"
								placeholder="Id" readonly="readonly"> <span
								th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
								class="text-danger"> </span>
						</div>

						<div class="form-group col-md-6">
							<label for="username" class="col-form-label">Username</label> <input
								type="text" th:field="*{username}" class="form-control"
								id="username" placeholder="Username"> <span
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
								class="text-danger"> </span>
						</div>

						<div class="form-group col-md-6">
							<label for="name" class="col-form-label">Name</label> <input
								type="text" th:field="*{name}" class="form-control" id="name"
								placeholder="Name"> <span
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="text-danger"> </span>

						</div>
						<div class="form-group col-md-6">
							<label for="email" class="col-form-label">Email</label> <input
								type="text" th:field="*{email}" class="form-control" id="email"
								placeholder="Email"> <span
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="text-danger"> </span>
						</div>
						<div class="form-group col-md-6">
							<label for="type" class="col-form-label">Type</label> <select
								class="form-control-range" th:field="*{type}">
								<option th:each="tp : ${types}" th:value="${tp}"
									class="form-control" th:text="${tp}"
									th:selected="${user.type==tp}"></option>

							</select> <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
								class="text-danger"> </span>
						</div>
						<div class="form-group col-md-6">
							<label for="gender" class="col-form-label">Gender</label> <select
								class="form-control-range" th:field="*{gender}">
								<option th:each="gen : ${genders}" th:value="${gen}"
									class="form-control" th:text="${gen}"
									th:selected="${user.gender==gen}"></option>
							</select> <span th:if="${#fields.hasErrors('gender')}"
								th:errors="*{gender}" class="text-danger"> </span>
						</div>
						<div class="form-group col-md-6">
							<label for="birthDate" class="col-form-label">Birth Date</label>
							<input type="date" th:field="*{birthDate}" class="form-control"
								id="birthDate" placeholder="01/01/2000"> <span
								th:if="${#fields.hasErrors('birthDate')}"
								th:errors="*{birthDate}" class="text-danger"> </span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Update User">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Clear">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancel">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>